// COLORS
$accent-color: #ff4141;
$accent-hovered: #e71e1e;
$bg-color: linear-gradient(145deg, #17181b, #1b1d20);
$tableFields_bg-color: #191a1b;
$table-headers-color: #9da4b0;
$text-light-color: #d6dbe3;
$milk-color: #ebeef3;
$placeholder-text: rgba(24, 26, 27, 0.5);
$table-div-color: #24272a;
$table-active-row: #30333a;

// FONTS
$ibmPlexSans: 'IBM Plex Sans', sans-serif;
$regular: 400;
$medium: 600;

// SHADOW EFFECTS
$concave: 20px 20px 35px #111214, -20px -20px 35px #212428;
$pressed: inset 20px 20px 35px #1e2229, inset -20px -20px 35px #34383f;
$pressedHard: inset 20px 20px 35px #111214, inset -20px -20px 35px #212428;