@import '~normalize-scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import './abstracts/mixins';
@import './abstracts/variables';

:root {
  font-size: 10px;
  font-family: $ibmPlexSans;
  font-weight: 400;
  color: $text-light-color;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include customScroll($milk-color, $text-light-color);
}

body {
  background: $bg-color;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

h1 {
  @include fontstyle(1.4rem, $medium);
}

p {
  @include fontstyle(1.4rem, $medium);
}

img {
  max-width: 100%;
}

.contentWrapper {
  @include flexModel(space-between);
  width: 96vw;
  height: calc(100% - 6rem);
  margin: 0 auto;
  position: relative;
  &__contentLeft,
  &__contentRight {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: space-between;
    width: 50%;
    padding: 2rem 1rem 5rem;
    height: 100%;
  }
  &__contentLeft {
    left: 0;
    top: 0;
  }
  &__contentRight {
    top: 0;
    right: 0;
  }
}

@media (max-width: 1000px) {
  body {
    overflow: visible;
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    &__contentLeft,
    &__contentRight {
      position: relative;
      display: block;
      padding: 0;
    }
    &__contentLeft {
      padding: 4rem 0;
      width: 100%;
    }
    &__contentRight {
      width: 100%;
      padding: 0 0 10rem;
    }
  }
}

@media (max-height: 1000px) {
  body {
    overflow: visible;
  }
  .contentWrapper {
    &__contentLeft,
    &__contentRight {
      padding: 0rem 1rem 2rem;
    }
  }
}

.footer {
  @include flexModel(space-between);
  @include fontstyle();
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem 4rem;
  background-color: #000;
  color: #fff;
  z-index: 999;
  .productionTeam {
    max-width: 33%;
    text-align: right;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
  .logosWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .logo {
      margin: 0 0.5rem;
    }
  }
}

@media (max-width: 620px) {
  .productionTeam {
    font-size: 1.2rem;
  }
}
@media (max-width: 550px) {
  .contentWrapper {
    padding-bottom: 10rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6rem;
    .productionTeam {
      text-align: center;
      max-width: 80%;
      margin-bottom: 0.5rem;
    }
    .logosWrapper {
      order: 1;
      position: absolute;
      top: 4rem;
    }
    .copyright {
      order: 1;
    }
  }
}

main {
  height: 100vh;
  @include fontstyle(1.6rem, $medium);
}
@media (max-width: 980px) {
  main {
    height: auto;
    padding-bottom: 5rem;
  }
}

.hiddenItem {
  display: none;
}

.moduleWrapper {
  @include moduleWidth();
  @include flexModel();
  padding: 3% 0 0;
  height: 100%;
}

.global,
.countries,
.summary,
.map,
.graph {
  @include flexModel(center, center, column);
  border-radius: 1rem;
  padding: 2rem 1.6rem 2rem;
}

.global,
.search,
.countries {
  box-shadow: $concave;
  background: $bg-color;
}

.map,
.graph {
  box-shadow: $pressedHard;
  background: $bg-color;
}

table {
  th,
  tr {
    @include trans();
  }
}

.global {
  @include moduleWidth(40%);
  min-width: 32rem;
  height: 10vh;
  min-height: 12rem;
  margin-bottom: 1rem;

  &__header {
    .activeCases {
      color: $accent-color;
    }
    @include fontstyle(1.4rem, $medium);
    margin: 0;
  }
  &__total {
    @include fontstyle(4.8rem, $regular);
  }
  z-index: 10;
}

.searchANDcountriesTableWrapper {
  @include flexModel(center, center, column);
}

.search {
  @include moduleWidth(40%);
  margin-bottom: 3rem;
  min-width: 32rem;
  z-index: 10;
  @include flexModel(center, center);
  .searchIcon {
    position: relative;
    background: $milk-color;
    border-radius: 1rem 0 0 1rem;
    padding: 2.1rem 0rem 2.1rem 1rem;
    width: 3rem;

    &:after {
      content: url('../assets/icons/search.svg');
      position: absolute;
      top: 50%;
      right: 0;
      opacity: 0.3;
      transform: translateY(-40%);
    }
  }
  .searchBar {
    @include moduleWidth(100%, auto);
    @include fontstyle(1.4rem, $medium);
    position: relative;
    background: $milk-color;
    padding: 1.2rem 5rem 1.2rem 0.5rem;
    color: #000;
    outline: none;
    border: none;
    &::placeholder {
      @include fontstyle(1.6rem, $medium, $placeholder-text);
    }
  }
  .virtualKeyboard_button {
    position: relative;
    background: $milk-color;
    border-radius: 0rem 1rem 1rem 0;
    height: 4.2rem;
    width: 1rem;
    pointer-events: none;
    cursor: pointer;
    &:after {
      content: url('../assets/icons/keyboard.svg');
      position: absolute;
      top: 50%;
      right: 1rem;
      pointer-events: all;
      opacity: 0.5;
      transform: translateY(-40%);
      @include trans();
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}

table {
  border-spacing: 0;
  th {
    text-align: center;
    @include fontstyle(1.4rem, $medium, $tableFields_bg-color);
    background: $table-headers-color;
    padding: 1rem;
    border: 0.1rem solid $table-div-color;
    width: 33%;
  }
  td {
    text-align: center;
    border: 0.1rem solid $table-div-color;
    padding: 1rem;
  }
  tr {
    cursor: pointer;
    &:hover {
      background: $table-active-row;
    }
  }
}

.short-col {
  width: 5%;
  min-width: 6rem;
}
.long-col {
  width: 45%;
}

.tableHeaders {
  width: 100%;
  th:first-child {
    border-radius: 1rem 0 0;
  }
  th:last-child {
    border-radius: 0 1rem 0 0;
  }
  th {
    &:hover {
      opacity: 0.8;
      user-select: none;
    }
  }
}

.mainTable {
  width: 100%;
  overflow-y: scroll;
}

.tabButton {
  margin: 1px;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  border: 0.1rem solid #1b1c1f;
  background: #5f6774;
  @include trans();
  &:hover {
    background: #313640;
    color: rgba(255, 255, 255, 0.6);
  }
}

.countries {
  width: 100%;
  height: 50vh;
  min-height: 45rem;
  padding: 0;
  z-index: 11;
  position: relative;
  &__fixedHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 1rem);
    z-index: 999;
    th:last-child {
      border-radius: 0;
      // width: 100%; for tablet adaptive
      &:after {
        content: '';
        width: 1.1rem;
        height: 3.8rem;
        background: $table-headers-color;
        display: flex;
        position: absolute;
        right: -0.9rem;
        top: 0.1rem;
        border-radius: 0 1rem 0 0;
      }
    }
  }
  &__table-wrapper {
    width: 100%;
    height: calc(100% - 4rem);
    overflow-y: scroll;
    position: absolute;
    top: 4rem;
    padding-bottom: 3.8rem;
    .mainTable {
      top: 0rem;
    }
    td {
      &:nth-child(2) {
        font-weight: 400;
      }
    }
  }
  @include customScroll();
  .flag {
    .flagImg {
      vertical-align: middle;
      display: inline-block;
      margin-right: 1rem;
      width: 1.6rem;
      height: 1.6rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__tabs {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: calc(100% - 10px);
    bottom: -0.2rem;
    left: 0;
    background: $bg-color;
    backdrop-filter: blur(4px);
    .left {
      display: flex;
      width: 80%;
      max-width: 90rem;
      justify-content: space-between;
      .tabButton {
        &:first-child {
          border-radius: 0 0 0 1rem;
        }
        &:last-child {
          border-radius: 0 0 1rem 0;
        }
      }
    }
    .right {
      display: flex;
      justify-content: flex-end;
      width: 20%;
      .tabButton {
        border-radius: 0 0 0 1rem;
      }
    }
    .tabButton {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;
    }
  }
}

@media (max-width: 1920px) {
  .countries {
    &__table-wrapper {
      padding-bottom: 7.7rem;
    }
    &__tabs {
      display: flex;
      flex-direction: column;
      .left,
      .right {
        width: 100%;
      }
      .left {
        .tabButton {
          &:first-child {
            border-radius: 0;
          }
          &:last-child {
            border-radius: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1511px) {
  .countries {
    &__table-wrapper {
      padding-bottom: 9.3rem;
    }
  }
}

@media (max-width: 1000px) {
  .countries {
    &__table-wrapper {
      padding-bottom: 12rem;
    }
    &__tabs {
      .left {
        max-width: 100%;
        flex-direction: row;
        .tabButton {
          width: 32%;
        }
        flex-wrap: wrap;
      }
    }
  }
}

@media (max-width: 385px) {
  .countries {
    &__table-wrapper {
      padding-bottom: 13.2rem;
    }
  }
}
@media (max-width: 370px) {
  .countries {
    &__table-wrapper {
      padding-bottom: 14rem;
    }
  }
}

@media (max-height: 941px) {
  .countries {
    height: 40vh;
    min-height: 60%;
  }
}

@media (max-height: 768px) {
  .countries {
    min-height: 20rem;
  }
}
@media screen and (min-height: 750px) and (min-width: 1188px) {
  body {
    padding-bottom: 10rem;
  }
}

@media (max-height: 620px) {
  body {
    padding-bottom: 12rem;
  }
}

@media (max-height: 550px) {
  body {
    padding-bottom: 30rem;
  }
}

.summary {
  @include moduleWidth(100%);
  display: flex;
  justify-content: flex-end;
  padding: 0;
  z-index: 12;
  position: relative;
  height: 100%;
  table {
    td {
      width: 33%;
    }
  }
  &__tabs {
    bottom: 0;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    .left,
    .right {
      display: flex;
      width: 49%;
      text-align: center;
    }
    .left {
      .tabButton {
        &:first-child {
          border-radius: 0 0 0 1rem;
        }
      }
    }
    .right {
      .tabButton {
        border-radius: 0 0 1rem 0;
      }
    }
  }
}

.pressed {
  background: #313640 !important;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: $pressed;
}

.selected {
  background: #313640 !important;
  color: #fff;
  font-weight: $medium;
  box-shadow: $pressed;
}

// MAP STYLE
.map {
  display: block;
  width: 100%;
  min-width: 32rem;
  height: 48vh;
  background-color: #fff;
  position: relative;
}

@media (max-width: 660px) {
  .map {
    min-height: 100vh;
  }
  .graph {
    min-height: 60vh;
  }
}

.legend {
  @include flexModel(space-evenly, center);
  flex-wrap: wrap;
  z-index: 999;
  width: 100%;
  height: 10rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 1.5rem 0.5rem;
  height: auto;
  background: linear-gradient(360deg, #141516 30%, rgba(25, 27, 28, 0) 100%);
  font-size: 1.2em;
  opacity: 0.9;
  pointer-events: none;
  .legendItem {
    @include flexModel(center, center);
    padding: 0.5rem 1rem;
    .legendMarker {
      width: 2rem;
      height: 2rem;
      background: $accent-color;
      border-radius: 100%;
      margin-right: 1rem;
    }
  }
}

.mapboxgl-canvas {
  outline: none;
}

.mapboxgl-control-container {
  display: none;
}

.marker {
  background: $accent-color;
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.363);
  cursor: pointer;
}

.mapboxgl-popup-content {
  @include fontstyle();
  min-width: 12rem;
  padding: 1rem;
  background: rgba(49, 49, 49, 0.8);
  border: 1px solid #ff4141;
  border-radius: 1.2rem;
  backdrop-filter: blur(4px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: rgba(49, 49, 49, 0.8);
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: rgba(49, 49, 49, 0.8);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(49, 49, 49, 0.8);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(49, 49, 49, 0.8);
}

// GRAPH STYLE
.graph {
  width: 100%;
  min-width: 32rem;
  height: 100%;
  min-height: 30rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  &__canvas {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 1000px) {
  .graph {
    &__canvas {
      position: static;
    }
  }
}

.countryNameOnChartsWrapper {
  position: absolute;
  width: 80%;
}
.countryNameOnCharts {
  font-size: 3.5em;
  line-height: 0.8;
  margin: 0 auto;
  text-align: center;
  word-wrap: break-word;
  opacity: 0.1;
}

@media (max-width: 620px) {
  .countryNameOnCharts {
    font-size: 5rem;
  }
}

// Keybaord
.keyboard {
  position: fixed;
  z-index: 1000;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 5px 0;
  background: linear-gradient(
      360deg,
      rgba(25, 27, 28, 0.8) 0%,
      rgba(25, 27, 28, 0) 100%
    ),
    rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  @include trans(0.5s, ease-in-out);
}

.keyboardHidden {
  bottom: -100%;
}

.keyboardKeys {
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: $concave;
}

.keyboardKey {
  height: 45px;
  width: 6%;
  border: 0.2rem solid $table-div-color;
  border-radius: 5px;
  background-color: $bg-color;
  color: $accent-color;
  max-width: 90px;
  margin: 3px;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0px;
  position: relative;
  @include trans(0.25s);
}

.keyboardKey:hover {
  box-shadow: $pressedHard;
}

.keyboardKey:active {
  background-color: rgba(49, 49, 49, 0.8);
}

.keyboardKeyWide {
  width: 12%;
}

.keyboardKeyExtraWide {
  width: 36%;
  max-width: 500px;
}

.switchChartBtn {
  position: absolute;
  top: 0;
  color: white;
  margin: auto;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 0 0 1rem 1rem;
  cursor: pointer;
  border: 0.1rem solid #1b1c1f;
  background: #5f6774;
  z-index: 999;
  @include trans();
  &:hover {
    background: #313640;
    color: rgba(255, 255, 255, 0.6);
  }
}

.switchChartBtn.active {
  background: #313640 !important;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: $pressed;
}
